<md-dialog aria-label="dashboard">
    <md-dialog-content style="width: 60vw; height: 90vh; position: relative;">
        <h3 style="margin: 2rem 0; display: block;">Post New Article</h3>
        <md-input-container>
                <label>Title</label>
                <input name="title" ng-model="modal.article.title" ng-value="modal.article.title | htmlToPlaintext">
        </md-input-container>
        <md-input-container>
                <label>Categories</label>
                <md-select ng-model="modal.selectedCategory" md-selected-text="modal.getSelected(modal.selectedCategory)" style="margin-bottom: 1rem;">
                <md-optgroup label="categories">
                    <md-option ng-value="category" ng-repeat="category in modal.categories">{{category}}</md-option>
                </md-optgroup>
                </md-select>
        </md-input-container>
        <md-input-container>
                <label>Website Link</label>
                <input name="link"  ng-model="modal.article.url" ng-value="modal.article.url | htmlToPlaintext">
        </md-input-container>
        <md-input-container>
                <label>Description</label>
                <textarea name="description" ng-model="modal.article.description" ng-value="modal.article.description | htmlToPlaintext"></textarea>
        </md-input-container>
        <md-switch ng-model="modal.article.facebook" aria-label="Post to Facebook">
                Post to Facebook
        </md-switch>
        <md-switch ng-model="modal.article.twitter" aria-label="Post to Twitter">
                Post to Twitter
        </md-switch>
        <md-switch ng-model="modal.article.instagram" aria-label="Post to Instagram">
                Post to Instagram
        </md-switch>
        <md-button class="md-primary md-raised" style="float: right;" ng-click="modal.savePost(modal.article)">
                Share
        </md-button>
    </md-dialog-content>
</md-dialog>