<md-dialog aria-label="dashboard">
    <md-dialog-content style="width: 60vw; height: 70vh;">
        <h3 style="margin: 2rem 0; display: block;">Post New Article</h3>
        <md-input-container>
                <label>Title</label>
                <input name="title" ng-value="modal.article.title">
        </md-input-container>
        <md-input-container>
                <label>Description</label>
                <input name="description" ng-value="modal.article.excerpt">
        </md-input-container>
        <md-input-container>
                <label>Website Link</label>
                <input name="link"  ng-value="modal.article.href">
        </md-input-container>
        <md-switch ng-model="data.cb1" aria-label="Switch 1">
                Post to Facebook
        </md-switch>
        <md-switch ng-model="data.cb2" aria-label="Switch 1">
                Post to Twitter
        </md-switch>
        <md-switch ng-model="data.cb3" aria-label="Switch 1">
                Post to Instagram
        </md-switch>
        <md-button class="md-primary md-raised" ng-click="dashboard.showAdvanced($event)">
                Share
            </md-button>
    </md-dialog-content>
</md-dialog>