
.btn.btn-solid {
    display: block;
    width: 100%;
    padding: .5rem;
    text-transform: uppercase;
    background: $color-blue;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
    font-weight: 600;
}