
.navbar {
    display: block;
    height: 100%;
    width: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding-top: 3rem; 
    display: none;
    a {
        display: block;
        text-decoration: none;
        padding: 1rem;
        margin: 0 auto;
        color: #000;
    }
    .material-icons {
        display: block;
        color: #f5f5f5;
        margin: 0 auto;
    }
}