<div class="navbar">
    <a href="#">Dashboard</a>
    <a href="#">Live Site</a>
    <a href="#">Settings</a>
    <a href="#">Logout</a>
</div>
<div class="dashboard-wrapper">
    
    <div class="dashboard">
        <div class="feed">

        <div class="select-category" style="padding-right: 1rem;">
                <md-input-container>
                    <label>Categories</label>
                    <md-select ng-model="dashboard.selectedCategory" md-selected-text="dashboard.getSelected(dashboard.selectedCategory)">
                    <md-optgroup label="categories">
                        <md-option ng-value="category" ng-repeat="category in dashboard.categories">{{category}}</md-option>
                    </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div class="feed-item" ng-repeat="article in dashboard.articles" ng-click="dashboard.setArticle(article)">
                <p class="feed-item__title" ng-bind-html="article.title"></p>
                <!--<p class="feed-item__source">
                    <span ng-bind="article.source"></span> 
                    <span style="margin-left: .5rem" ng-bind="article.date_since"></span>
                </p> -->
                <p class="feed-item__excerpt" ng-bind-html="article.description"></p>
            </div>
        </div>

        <div class="feed-preview">
            <iframe src="{{dashboard.article.url}}" width="100%" height="100%"></iframe>
            <md-button class="md-primary md-raised" ng-click="dashboard.showModal($event)">
                Post Article
            </md-button>
        </div>
        
    </div>
</div>