<div class="navbar"></div>
<div class="dashboard-wrapper">
    
    <div class="dashboard">
        <div class="feed">

        <div class="select-category" style="padding: 0 2rem;">
                <md-input-container>
                    <label>Categories</label>
                    <md-select ng-model="dashboard.selectedItem" md-selected-text="dashboard.getSelectedText()">
                    <md-optgroup label="categories">
                        <md-option ng-value="item" ng-repeat="item in dashboard.items">{{item}}</md-option>
                    </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
            <div class="feed-item" ng-repeat="article in dashboard.articles" ng-click="dashboard.setArticle(article)">
                <p class="feed-item__title" ng-bind-html="article.title"></p>
                <!--<p class="feed-item__source">
                    <span ng-bind="article.source"></span> 
                    <span style="margin-left: .5rem" ng-bind="article.date_since"></span>
                </p> -->
                <p class="feed-item__excerpt" ng-bind-html="article.excerpt"></p>
            </div>
        </div>

        <div class="feed-preview">
            <!--<iframe src="{{dashboard.article.href}}" width="100%" height="100%"></iframe>-->
            <md-button class="md-primary md-raised" ng-click="dashboard.showAdvanced($event)">
                Post Article
            </md-button>
        </div>
        
    </div>
</div>